
    #gpsMap{
        height: 700px;
        
       
        margin-left: 25px;
        margin-right: 25px;
        border-radius: 25px;
    }


    #authorOfWebsite{
        
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin-right: 5px;

    }

    #licenseDownloadingData{
        margin-top: 10px;

    }


    