:root {
    /* Text color */
    --light-gold-color: #ffd700;
    /* --dark-gold-color: #cfb53b; */
    --leftSide-menuBar-hovering: #FFFFFF;
    --menuBar-title: black;
    --menuBar-ul-li: black;

    /* Background */
    --background-color-my1:#666666 ;
    /* --background-leftSide-menuBar: #2E2E2E;
    --background-mainContent-centerTop: #494949; */

    --background-leftSide-menuBar: #dadada;
    --background-mainContent-centerTop:  #e61919;
    --background-leftSide-menuBar-title: #e61919;

    /* background: var(--background-mainContent-centerTop); */
  }
    
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        
        
    }


body{
    font-family: 'Lora', serif;


}

    
    .allWebsite{
        display: flex;
        position: relative;
        
    }

    .leftSide .menuBar{
        
        background: var(--background-leftSide-menuBar);
        position: fixed;
        width: 200px;
        height: 100%;
        
        
    }

    .leftSide .menuBar .title {
        
        height: 72px;
        background: var(--background-leftSide-menuBar-title);
        
    }

    .leftSide .menuBar .title h2{
        
        color: var(--menuBar-title);
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
        
        
        
    }

    .leftSide .menuBar ul li{
        padding: 25px;
        border-bottom: 1px solid rgba(0, 0,0, 0.5);
        border-top: 1px solid rgba(255, 255,255, 0.1);
        text-align: center;
        
        
        
        
    }

    .leftSide .menuBar ul li a{
        display: block;
        color: var(--menuBar-ul-li);
        
        
        

    }


    .leftSide .menuBar ul li a .fas{
        font-size: 18px;
    }

    /* .leftSide .menuBar ul li:hover{
        background-color: red;
    } */

    .leftSide .menuBar ul li:hover a{
        
        color: var(--leftSide-menuBar-hovering);
        /* margin-left: 22px; */
    }


    /* .leftSide .menuBar .socialMedia{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    } */

    /* .leftSide .menuBar .socialMedia a{
        display: block;
        width: 40px;
        background: #594f8d;
    } */


    .mainContent {
        width: 100%-200px;
        margin-left: 200px;
        
        
       
    }

    .mainContent .centerTop h2{
        background: var(--background-mainContent-centerTop);
        height: 72px;
        color: var(--dark-gold-color);
        /* border-bottom: 1px solid #e0e4e8; */
        text-align: center;
        padding: 20px;
    }
    
    .mapDiv{
        
        background: orange;
        
        width: 100%;
        /* height: 85%; */
        height: 85vh;
        position: fixed;
        /* margin-bottom: 400px; */
       
        
        
        
    }

   #gpsMap{
          
        height: 100%;
        margin-right: 200px;
        
        

         /* border-radius: 10px;  */


    }

    .centerMid .licenseDownloadingData{
        
        text-align: left;
        position: fixed;
        bottom: 0px;
        margin-top: 5px;
        width: 100% ;
        margin-left: 5px;
        margin-bottom: 6px;

    }

    /* .centerMid .authorOfWebsite{
        
        position: absolute;
        margin-right: 5px;
        margin-bottom: 5px;
        bottom: 0px;
        right: 0px;
        width: 100% ;
        text-align: right;
       
        
    } */




      