
/* html {
    position: relative;
    min-height: 100%;
    width: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: grey;
  } */

  
  html, body { 
    height: 100%
    
}

body{
    color: white;
    padding: 0;
    margin: 0;

    background-color: grey;
}

    

  
main {
    
    background-color: green;


    height: calc(100% - 146px);


    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    border-radius: 12px;
  }

  #gpsMap{
      
    height: 100%;
    
    

    border-radius: 12px;
}


footer {
    /* position: absolute;
    bottom: 0;
    width: 100%;
    
    
    text-align: center; */

    width: 100%;
    height: 70px;
    color: black;
    
  }









.lastUpdate{
    text-align: left;

}

.license{
    text-align: left;
    position: relative;
    
    
}

.madeByMe{
    
    text-align: right;
    
    font-size: 10px;
}





  