.mainContent{
    
    
    background-color: blueviolet;
    /* display: flex; */
    position: absolute;
    /* margin-left: 10rem; */
    min-width: 100vw;
    min-height: 100vh;
    
}




.leftMenu{
    background: blue;

    width: 10rem;
    min-height: 100vh;

    position: absolute;
}

.leftMenu h2{
    background: red;
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.center{
    margin-left: 10rem;
}

.topContent h2{
    background-color: coral;
    min-height: 5vh;
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;

    margin-bottom: 0px;
    
}

/* 
.mapContent h2{
    
    background-color: green;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
} */

.bottomContent{
    background-color: rgb(221, 37, 160);
    
    min-height: 5vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}


.mapContent {
    background-color: grey;
    height: 87vh;
   
   


}


#gpsMap{
          
    height: 100%;
    
    
    

     /* border-radius: 10px;  */


}


